#wrap{
    background-color: cyan;
    margin-left: auto;
    margin-right: auto;
}

li{
    text-align: center;
    list-style: none;
    display: block;
}

 li::first-letter{
    font-size: larger;
 }