.odd{
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#id{
    color:blue;
    font-size: 36px;
}
.cooler{
    font: size 14px;
}
#otherid{
    background-color: lightgreen;
    font: size 24px;
    font-weight: bold;
}