body{
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
}

#wrap{
    width: 60%;
    margin: 10px auto;
    margin-top: 0px;
    height: auto;
}

#nav{
    background-color: cornflowerblue;
    padding: 5px;
    float:left;
    width: 20%;
    margin:0px;
    text-align: center;
}

#content{
    margin-left: 20%;
    flex-wrap: wrap;
    text-align: center;
}

#content ul{
    list-style: none;
}