body {
    background-color: palegoldenrod;
}
button {
    color:antiquewhite;
    font-size: medium;
    justify-content: center;
    border: 2px solid black;
}
#calculator {
    margin: 10px;
    display:grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 80px 80px 80px 80px;
}

#display{
    background-color: bisque;
    grid-row: span 1;
    grid-column: span 4 ;
    border: 2px solid black;
    font-size: 2rem;
    overflow: scroll hidden;
}
.number {
    background-color: greenyellow;
    grid-row: span 1;
    grid-column: span 1;
}

.operator{
    background-color: orange;
}

.equal{
    background-color: orange;
}

#reset {
    background-color: cornflowerblue;
    grid-row: span 1;
    grid-column: span 2;
}

#clear {
    background-color: palevioletred;
    grid-row: span 1;
    grid-column: span 2;
}